@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.ConteinnerGeral{
    background-color: rgb(29, 27, 46);
    border-radius: 10px;
    width: 80%;
    height: 90%;
    margin: 0 10%;
    background-image: url(/img/img2.png);
    background-size: cover;
}
.navBar{
    display: flex;
}
a{
    text-decoration: none;
}

.navBar{
    display: flex;
    align-items: center;
    margin: 20px;
    padding-top: 20px;
    list-style: none;
}
button{
    background-color: rgb(5, 149, 233);
    height: 25px;
    width: 25px;
    border: none;
    border-radius: 50px;
    position: absolute;
    margin-top: -5px;
    margin-right: 20px;
}
.navBar ul li{
    margin: 0 15px;
    display: inline;
    text-decoration: none;
    cursor: pointer;
}
.conteinnerInside{
    display: flex;
    margin: 150px 100px;
}
.conteinnerInside div{
    width: 50%;
}
.right{
    margin-top: -150px;
}
.left div{
    width: 100%;
    align-items: center;
    justify-content: center;
}
.left div input{
    width: 80%;
    margin-bottom: 20px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid rgb(67, 65, 87);
    padding: 5px;
    background-color: rgb(67, 65, 87);
}

.btnInput .btnLogin{
    background-color: rgb(5, 149, 233);
    font-size: 12pt;
    width: 83%;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}
.btnInput .btnLogin:hover{
    background-color: rgb(15, 132, 199);
}
h1{
    margin: 15px 0;
}
h4{
    margin: 10px 0;
    font-weight: 300;
}
h5{
    font-weight: 300;
}

/* Estilo tela2 */

p{
    text-align: justify;
    margin-bottom: 10px;
}

@media screen and (max-width: 560px){
    body{
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
    .ConteinnerGeral{
        background-color: rgb(29, 27, 46);
        border-radius: 10px;
        background-image: url(/img/img2.png);
        background-size: cover;
    }
}