@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
}
.ConteinnerGeral{
    background-color: rgb(29, 27, 46);
    border-radius: 10px;
    width: 80%;
    height: 90%;
}
.navBar{
    display: flex;
}
a{
    text-decoration: none;
}
.navBar ul{
    display: inline-block;
}
.navBar ul li{
    list-style: none;
}

.navBar{
    display: flex;
    align-items: center;
    margin: 20px;
}

.navBar ul li{
    margin: 0 15px;
    display: inline;
    text-decoration: none;
    cursor: pointer;
}
.conteinnerInside{
    display: flex;
    margin: 150px 100px;
}
.conteinnerInside div{
    width: 50%;
}
.right{
    width: 50%;
}
.left div{
    width: 100%;
}
.left div input{
    width: 80%;
    margin-bottom: 20px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid;
    padding: 5px;
    background-color: rgb(67, 65, 87);
}
h1{
    margin: 15px 0;
}
h6{
    margin: 5px 0;
}